<h1>Reserva cancelada ❌</h1>

<p>Hola {{name}},</p>

<p>Tu reserva ha sido cancelada correctamente.</p>

<p>Si fue un error, puedes crear una nueva reserva en cualquier momento.</p>

<p>Atentos a cualquier duda</p>