
HOST=localhost
PORT=3000


#DATABASE
DATABASE_URL=postgresql://gastroflow_db_user:A8uLPmwCqxs4UZqPk0fvbbSAkeyZhbbD@dpg-d7d8s9l8nd3s73dq0k3g-a.oregon-postgres.render.com/gastroflow_db

#Estas son las credenciales de render si necesitan entrar directamente a la BD para ver cambios-----
#HOSTNAME: dpg-d7d8s9l8nd3s73dq0k3g-a
#PORT:5432
#DATABASE_NAME:gastroflow_db
#DATABASE_USERNAME:gastroflow_db_user
#DATABASE_PASWORD:A8uLPmwCqxs4UZqPk0fvbbSAkeyZhbbD
#EXTERNAL_DATABASE_URL:postgresql://gastroflow_db_user:A8uLPmwCqxs4UZqPk0fvbbSAkeyZhbbD@dpg-d7d8s9l8nd3s73dq0k3g-a.oregon-postgres.render.com/gastroflow_db


#Eliminen de su .env.development esto -------
DB_NAME= your_data_base_name 
DB_HOST=localhost
DB_PORT= 5432
DB_USERNAME=your_data_base_username  
DB_PASSWORD=your_data_base_password 
#--------------------------------------------

#JWT
JWT_SECRET=your_JWT_Secret_Key

#GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=

#CLOUDINARY
CLOUDINARY_CLOUD_NAME= your_cloud_name
CLOUDINARY_API_SECRET= your_apiSecret
CLOUDINARY_API_KEY= 111111111111111

#Docker
POSTGRES_PASSWORD = your password for the db image
POSTGRES_DB = name of the image

STRIPE_WEBHOOK_SECRET= your stripe webhook secret password
STRIPE_SECRET_KEY= your stripe secret key 