
HOST=localhost
PORT=3000

#DATABASE
DB_NAME= your_data_base_name 
DB_HOST=localhost
DB_PORT= 5432
DB_USERNAME=your_data_base_username  
DB_PASSWORD=your_data_base_password 

#JWT
JWT_SECRET=your_JWT_Secret_Key

#GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=

#CLOUDINARY
CLOUDINARY_CLOUD_NAME= your_cloud_name
CLOUDINARY_API_SECRET= your_apiSecret
CLOUDINARY_API_KEY= 111111111111111

#Docker
POSTGRES_PASSWORD = your password for the db image
POSTGRES_DB = name of the image